@import url('https://fonts.googleapis.com/css2?family=Advent+Pro:wght@400&display=swap');
.top{
    background-color: #f3f7f9;
}
.navr{
   background-color: rgb(98, 95, 95);
}
.navbar-toggler-icon{
    background-color: rgb(87, 87, 87);
}

a{
    text-decoration: none;
    color: #000;
}
.nav {
   
    padding-left: 80px;
    color: #000;
    font-family: 'Advent Pro', sans-serif;
}
a:hover{
    text-decoration: none;
    color: rgb(162, 138, 0) ;
}